
.page-header {
    background-color: #d07031;

    border-bottom-right-radius: 25px;
    border-bottom: 1px solid black;
}

label {
    display: inline;
    height: fit-content;
    margin-right: 5px;
}

input {
    display: inline;
}