
label {
    display: inline;
    height: fit-content;
    margin-right: 5px;
}

input {
    display: inline;
}

p {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bolder;
}

section {
    margin: 10px 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}