html {
    margin: 0;
    padding: 0;

    font-family: Tahoma;

    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    font-family: Tahoma;
}

#root {
    height: 100%;
}

.container {
    min-height: 100%;
}

.page-header {
    background-color: #d7b60e;
    border-bottom: 1px solid black;
}

#searchBar {
    padding: 5px 5px;
}

.search {
    padding: inherit;
}

.page-title {
    font-size: 2rem;
    padding: 0 10px;
    cursor: pointer;
}

.secondary-element {
    background-color: whitesmoke;
    color: black;
}

.action-element {
    font-size: 1.2rem;
    padding: 10px 10px;
    margin: 20px 15px 10px 15px;

    border-radius: 5px;
    cursor: pointer;

    width: available;
    width: -moz-available;

    transition: 0.15s all ease;

    background-color: #3676ad;
    color: white;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 15px;
}

.big-title {
    padding: 20px;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.small-title {
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    color: #2b2b2b;
    border-bottom: 1px solid gray;
}

.center-align {
    text-align: center;
}

.primary {
    color: #3676ad;
}

.secondary {
    color: cornsilk;
}

.primary-background {
    background-color: antiquewhite;
}

.secondary-background {
    background-color: whitesmoke;
}

.error {
    background-color: rgb(248, 202, 202);
}

.info {
    background-color: #bcccfa;
}

.warn {
    background-color: #ffedb1;
}

input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    width: -moz-available;
    width: available;
    height: fit-content;
    background-color: whitesmoke;
}

.width-fit-content {
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
}

.standart-button {
    padding: inherit;

    font-size: 1rem;

    border: 1px solid black;
    background-color:rgba(255, 255, 255, 0.51);

    border-radius: 5px;
    cursor: pointer;
}

.standart-button:hover {
    background-color: rgb(255,255,255, 0.76);
}

.action-element:hover {
    background-color: #4d7cad;
}

.standard-link {
    font-size: 1rem;
    text-align: center;
}

.link {
    cursor: pointer;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: 1s;

    top:0;
    left:0;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    z-index: 1;

    transition: 1s all ease;

    background-color: rgba(0, 0, 0, 0.51);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.modal-body {
    padding: 8px;
    min-width: 400px;
}

.modal-message {
    padding: 10px 0;
    width: 100%;
}

.modal-title {
    padding: 0;
    margin: 0;
    width: fit-content;
    display: inline;
    font-weight: lighter;
}

.modal-footer {
    border-top: 1px solid black;
    padding: 10px 0 0 0;
}

.modal-dismiss-button {
    display: inline;
    cursor: pointer;
}

.big-alert {
    margin: 10px;
}

.modal-alert {
    text-align: left;
}

.right-align {
    text-align: right;
    text-align: -moz-right;
}

.left-align {
    text-align: left;
    text-align: -moz-left;
}

.center-container {
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;

    width: fit-content;
    width: -moz-fit-content;

    height: fit-content;
    height: fit-content;
}

.dropdown {
    padding: 10px;
    position: relative;
    z-index: 2;
}

.dropdown-content-container {
    position: absolute;
    top: 50px;
    right:50px;

    display: block;

    min-width: 150px;

    background-color: #e2d5c3;

    border: 1px solid black;

    border-radius: 10px;
    border-top-right-radius: 0;
}

.dropdown-option {
    border: 1px solid gray;
}

.dropdown-option-text {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.dropdown-title {
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    color: antiquewhite !important;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.dropdown-option:hover {
    background-color: #c6906d;
    cursor: pointer;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline flex;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-center-align {
    align-self: center;
}

.flex-end-align {
    align-self: flex-end;
}

.no-margin {
    margin: 0;
}

.marign-auto {
    margin: auto;
}

.no-padding {
    padding: 0;
}

.mini-icon{
    margin-right: 10px;
    color: #2b2b2b;
    font-size: 25px;
}

.icon-info {
    color: cornflowerblue;
}

.icon-error {
    color: orangered;
}

.icon-warn {
    color: #c78d05;
}

@keyframes spin {
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.050);
    }
    75% {
        transform: scale(0.950);
    }
}

.loading-spin {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading-scale {
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scrollable {
    overflow-y: auto;
    overflow-x: auto;
}

.strong-nav {
    font-size: 0.9rem;
}

.strong-nav .nav-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 2px;
    background-color: #2b2b2b;
}

.book-shelf-container {
    padding: 10px;
    text-align: center;

    display: flexbox;

    overflow: auto;
}

.shelf-wrapper {
    display: block;
}

.horizontal-shelf {
    overflow-x: auto;
    max-height: 50vh;
    display: flex;
}

.shelf-title {
    font-size: 2rem;
    text-align: center;
    color: dimgrey;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    width: fit-content;
}

.item-box {
    display: inline-flex;
    flex-direction: column;

    width: fit-content;

    border-radius: 10px;

    transition: 0.4s;

    margin: 10px;

    width: 180px;
    min-height: 300px;

    height: fit-content;

    color: darkslategrey;
}

.item-header {
    display: inline-flex;
    justify-content: space-between;

    color: inherit;
}

.item-rating {
    display: flex;
    color: inherit;
}

.image-container {
    color: inherit;
}

.book-img {
    width: 100%;
    border: 1px solid gray;
    border-radius: inherit;
    cursor: pointer;

    transition: 0.2s;
}

.book-img:hover {
    transform: scale(1.02);
    box-shadow: gray 2px 2px 6px 2px;
}

.item-footer {
    text-align: center;
    border-radius: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: inherit;
}

.item-title {
    font-weight: bold;
}

.item-author {
    font-weight: lighter;
    padding: 5px;
}

.item-price {
    color: blue;
    font-size: 1.1rem;
}

.item-sub-info {
    background-color: #63a6e073;

    padding: 7px;
    margin: 5px;

    font-weight: bold;
    font-size: 0.8rem;

    border-radius: inherit;

    width: fit-content;

    cursor: pointer;

    transition: 0.2s;

    border: 1px solid gray;
}

.item-sub-info:hover {
   border: 1px solid black;
}

.search-info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid gray;
}